{% extends "!layout.html" %}
{% if pagename == 'dynamic/products' %}
{% set script_files = script_files + ["_static/init_products.js"] %}
{% endif %}
{% if pagename == 'dynamic/silver_products' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}
{% if pagename == 'dynamic/gold_products' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}

{% if pagename == 'dynamic/sklep_79element' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_ascoin' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_coininvest' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_goldenmark' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_goldon' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_guldener' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_idfmetale' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_mennica24' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_mennicakapitalowa' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_mennicakrajowa' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_mennicamazovia' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_mennicaskarbowa' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_metalelokacyjne' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_szlachetneinwestycje' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_tavex' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_zlotauncja' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}{% if pagename == 'dynamic/sklep_zlotoinwestycyjne' %}
{% set script_files = script_files + ["_static/init_sklep.js"] %}
{% endif %}